*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;

}
#toolbar{
    width: 700px;
    height: 150px;
    padding: 20px;
    position: relative;
    top: 100;
    background-color: #9858ac;
    color:black;

}

.radcontrol{

    width: 30px;
    height: 30px;
    background-color: #4f4f4f;
    display: inline-block;
    text-align: center;
    padding: 5px;

}
#rad{
    float: left;
}
#colors{
    float: right;
}
.swatch{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.5);
    display: inline-block;
    margin-left:10px;
}
.swatch.active{
    border: 2px solid white;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
}
#save{
    height:30px;
    width: 105px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    left:10px;
    bottom:65px;
}
#clean{
    height:30px;
    width: 55px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    right:350px;
    bottom:50px;
}
#clean:hover{
    background-color: #4f1f7c;
}

#upImage{
    height:30px;
    width: 200px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    right:20px;
    bottom:50px;
}
#uploadfile{
    height:30px;
    width: 200px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    right:130px;
    bottom:48px;
}
#shape{
    height:30px;
    width: 100px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    left:10px;
    bottom:40px;
}
.rectangle:hover{
    background-color: #331970;
}
.triangle:hover{
    background-color: #331970;
}
.circle:hover{
    background-color: #331970;
}
.rectangle.click{
    background-color: #331970;
}
.triangle.click{
    background-color: #331970;
}
.circle.click{
    background-color: #331970;
}
#selector{
    height:30px;
    width: 55px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    left:130px;
    bottom:58px;
}
#text{
    height:30px;
    width: 55px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    left:260px;
    bottom:5px;
}
#number{
    height:30px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    left:420px;
    bottom:5px;
}
input[type="number"] {
    width:160px;
 }
input[type="text"] {
    width:160px;
}
#go{
    height:30px;
    width: 80px;
    padding: 8px;
    position: absolute;
    background-color: #9858ac;
    right:20px;
    bottom:5px;
}